@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(0, 75%, 97%);
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 765px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}

